# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

# --- НОВОЕ -------
# Virtual environment - пусть будет в архиве.
# --- Для виртуального окружения созданного venv
#venv

# --- Для виртуального окружения созданного popenv эти файлы д.б. в Git
#Pipfile
#Pipfile.log

# --- БЫЛО РАНЬШЕ -------
/bower_components/
/node_modules/
*.rtf
#*.doc