/* GML Theme - Meseta <meseta@gmail.com> */
/* ---- 10. Стили модуля расцветки кода  --- эти стили расцвеыивают код */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #222222; /* Цвет фона. Исходно #222222*/
  color: #C0C0C0;  /* цвет разных скобок + ИМЕНА полей и перем*/
}
/*  Цвет ключевых слов: function, CREATE TABLE, ... */
.hljs-keyword {
  color: #FFB871;
  font-weight: bold;
}

.hljs-built_in {
  color: #FFB871;
}

.hljs-literal {
  color: #FF8080;
}

.hljs-symbol {
  color: #58E55A;
}

.hljs-comment {
  color: #5B995B;
}

.hljs-string {
  color: #FFFF00;
}

.hljs-number {
  color: #FF8080;
}
/**/
.hljs-attribute,
.hljs-selector-tag,
.hljs-doctag,
.hljs-name,   /* p, body, ... */
.hljs-bullet,
.hljs-code,
.hljs-addition,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-type,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion,
.hljs-title,
.hljs-section,
.hljs-function,
.hljs-meta-keyword,
.hljs-meta,
.hljs-subst {
  color: #C0C0C0;  /* Цвет типа данных ТАКЖЕ. Исходно #C0C0C0 */
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}

/* ---- Моя проба ПЕРЕОПРЕДЕЛИТЬ - ПОЛУЧИЛОСЬ ------- */
.hljs {   /* ---  Стили БЛОКА. --- */
  background: #526799;  /* Цвет фона блока Исходно #222222* повторно в .my-highlight */
  padding-bottom: 0;
  padding-top: 0;
  font-size: 1.2em;     /* Размер шрифта всего блока */
  white-space: pre; /* Горизонтальная полоса прокрутки ЕСЛИ код не вмещается */
  resize: vertical;     /* Пользователь может изменять размеры блока вертикально */
}

/* Цвет типа данных. Исходно #C0C0C0 */
.hljs-type {color: white;}

.hljs-comment {   /* Комментарии */
  font-style: oblique;
  color: #D6B7E5;
  font-size: 0.85em;
}
.hljs-number {  color: #2EB0B6; } /* числа */
pre {  margin: 0;   padding: 0; }

/* --- СТИЛЬ для CSS кода --- */
.hljs-selector-id,    /* CSS: идентификатор */
.hljs-selector-class, /* CSS: класс */
.hljs-selector-tag {  /* CSS: тэг HTML */
  color: #FFB57D; 
}
.hljs-attribute {   /* CSS: значение атрибута свойства  */
  color: #E4D06E;
}
/* --- Конец СТИЛЬ для CSS кода --- */

/* --- СТИЛЬ для HTML кода --- */
.hljs-tag {   /* цвет угловых скобок + атрибуты тэгов */
/*  color: red;*/
}
.hljs-attr {  /* атрибут HTML тэга */
  color: #E4D06E;
}
.hljs-name {  /* Имена тэгов HTML */
  color: #FFB57D;  /*  */
}
/* --- Конец СТИЛЬ для HTML кода --- */



/* === НЕ ПОНЯЛ чей цвет ======= */
.hljs-selector-attr {   /* атрибут селекторв ? */
/*  color: red; */
}

hljs-selector-tag {
/*  color: red; */
  }

.hljs-selector-pseudo {
/*  color: #FFB57D; */
  }
.hljs-function {    /* Цвет функции? -  */
/*  color: #428989;*/
}
.hljs-code {  /* Чей код ?*/
/*  color: red; */
}
/* --- Конец пробы  ---------------------------------- */