{% extends "layout.html" %}
  {% block article %}
  
<!-- ========== НАЧАЛО. МОДУЛЬ ДЛЯ РАСЦВЕИЧАНИЯ  КОДА ДЛЯ КОНСПЕКТОВ  ==============================  -->

<!-- === НАЧАЛО ПАРАГРАФА кода HTML.  =============================== -->
  <h4 class='toc_h'><strong>код HTML</strong></h4>
  <p>
  </p>
<!--  -->
<br><!-- РАСЦВЕЧИВАНИЕ HTML, XML  -->
<div class="highlighte-code"> <!--Блок для расцвеченного кода -->
  <div><input type="button" value="Скопировать код" /></div>
<pre><code class="language-xml hljs">


</code></pre>
</div><!-- Конец. Блок для расцвеченного кода -->

<br>   
<!-- === КОНЕЦ ПАРАГРАФА  кода HTML. =============================== -->

<!-- === НАЧАЛО ПАРАГРАФA кода CSS. =============================== -->
  <h4 class='toc_h'><strong>код CSS</strong></h4>
  <p>
  </p>
<br>   <!-- РАСЦВЕЧИВАНИЕ CSS  -->
<pre><code class="language-css hljs my">

</code></pre>
<br>   
<!-- === КОНЕЦ ПАРАГРАФА  кода CSS. =============================== -->

<!-- === НАЧАЛО ПАРАГРАФA кода JS. =============================== -->
  <h4 class='toc_h'><strong>код JS </strong></h4>
  <p>
  </p>
<br>   <!-- РАСЦВЕЧИВАНИЕ JAVASCRIPT  -->
<pre><code class="language-javascript">

</code></pre>
<br>   
<!-- === КОНЕЦ ПАРАГРАФА  кода JS. =============================== 

<!-- === НАЧАЛО ПАРАГРАФA кода PostgreSQL. =============================== -->
  <h4 class='toc_h'><strong>код PostgreSQL</strong></h4>

<br>   <!-- РАСЦВЕЧИВАНИЕ PostgreSQL  -->
<pre><code class="language-pgsql hljs">
INSERT INTO big100 
SELECT  s.id, 'This is string # ' || s.id FROM generate_series(1, 100000) AS s(id);

CREATE TABLE pupils (  
    pid integer,    -- номер, тип данных: целое число
    pname text,     -- фамилия, тип данных: текст
    pburn date	    -- дата рождения, тип данных: дата
);
    
INSERT INTO pupils  VALUES 
    (1, 'Иванов',  '2010-03-25'),
    (2, 'Петров',  '2011-08-14'),
    (3, 'Сидоров', '2010-06-18')
;

SELECT * FROM pupils;
-- ответ сервера
 pid |  pname  |    pburn    
-----+---------+------------
   1 | Иванов  | 2010-03-25
   2 | Петров  | 2011-08-14
   3 | Сидоров | 2010-06-18
(3 rows)


</code></pre>
<br>   
<!-- === КОНЕЦ ПАРАГРАФА  кода PostgreSQL. =============================== -->

<!-- === НАЧАЛО ПАРАГРАФA кода Python. =============================== -->
  <h4 class='toc_h'><strong>код Python.</strong></h4>

<br>   <!-- РАСЦВЕЧИВАНИЕ PostgreSQL  -->
<div  class="highlight-code"> <!--Блок для преобразованного кода -->
  <div><input type="button" value="Скопировать код" /></div>
<pre><code id="code" class="language-python hljs">
@app.route("/code_to.html")
def code_to():
    return render_template("code_to.html") 

</code></pre>
<br>   
<!-- === КОНЕЦ ПАРАГРАФА  кода Python. =============================== -->

<!-- ========== КОНЕЦ. МОДУЛЬ ДЛЯ РАСЦВЕИЧАНИЯ  КОДА ДЛЯ КОНСПЕКТОВ  ==============================  -->
  {% endblock %}